.home {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home h1 {
  color: #61dafb;
  align-items: center;
  margin-top: 120px;
}

.home h4 {
  color: #61dafb;
  text-align: center;
}

.card {
  width: 20rem;
  height: 20rem;
  background-color: transparent;
  border: 3px solid azure;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 1rem;
}

.cardTitle {
  align-self: center;
  padding: 0.5rem 0;
  font-weight: bold;
  font-size: 1rem;
}

.cardContent {
  width: 100%;
  text-align: center;
  border-top: 3px solid azure;
  padding: 0.5rem;
}

.cardImage {
  flex-grow: 1;
  overflow: hidden;
}

.cardImage img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

